body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}
section {
	height: 100vh;
	  background: linear-gradient(to top, #1e2442 , #327576);

}
#particles {
	width: 100%;
	height: 100%;
	background: lin
}